.middle-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7f50;
    width: min(800px, calc(100% - 30%));
    height: max(200px, calc(100% - 30%));
}

.inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd700;
    width: calc(100% - 50%);
    height: calc(100% - 50%);
}