* {
  font-weight: normal;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f9f9f9;
}

label {
  margin-bottom: 5px;
}

.signup-form {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: aqua;
}

.form-title {
  margin-bottom: 10px;
  color: brown;
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input-field {
  border: 2px solid #ccc;
  padding: 8px;
  margin-bottom: 10px;
  width: 95%;

  line-height: 1.5;
}

.input-field:focus {
    background-color: rgb(204, 248, 151);
}

.submit-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.submit-btn:hover {
    background-color: blue;
}
