body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #fff;
  font-size: 4rem;
  text-shadow: 0 3px 6px black;
  text-align: center;
}

p {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  max-width: 600px;
  line-height: 2;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}
.parallax {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.parallax:first-child {
    background-image: url(./food.png);
}

.parallax:nth-child(3) {
    background-image: url(./chef-showing-menu-board-menu.png);
}

.parallax:nth-child(5) {
    background-image: url(./ocean.png);
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    text-align: center;
}